<div>
    <h1>Guardaste este producto:</h1>
    <h2>{{products.name}}</h2>
    <img src="{{products.photo}}" alt="{{products.name}}" width="200"><br>
    <p>category: {{products.category}}</p>
    <p>type: {{products.type}}</p>
</div>